<a href="https://colab.research.google.com/github/Jesus-juasjuas/cyp_2021/blob/main/23_nov_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
#ehemplo 1.1

PREPO = 0
PAGO = 0
CAMBIO = 0

PREPO = float(input("prepo:"))
PAGO = float(input("pago:"))
CAMBIO = float((PAGO - PREPO))
print(CAMBIO)

prepo:86.25
pago:100
13.75

In [57]:
#ejemplo 1.2

ALTURA = 0
BASE = 0
SUP = 0

ALTURA = float(input("altura:"))
BASE = float(input("base:"))
SUP = float((BASE * ALTURA) /2)
print(SUP)

altura:7.20
base:8.50
30.6

In [68]:
#ejemplo 1.3

PESO = 0
LONG = 0
PESOK = 0
LONGM = 0

NOM= input("Como se llama el dinosaurio:")
LONG = float(input("Altura en pies:"))
PESO = float(input("Peso en toneladas:"))
PESOK = float(PESO * 1000)
LONGM = float(LONG * 0.3047)

print(f"su nombre es {NOM}")
print(f"su peso en kilogramos es {PESOK}")
print(f"su longitud en metros es {LONGM}")

Como se llama el dinosaurio:ninosaurio
Altura en pies:90
Peso en toneladas:15
su nombre es ninosaurio
su peso en kilogramos es 15000.0
su longitud en metros es 27.423000000000002

In [66]:
#ejemplo 1.4

GAL = 0
LIT=0
TOTAL=0
GAL = float(input("galones vendidos"))
LIT=float(GAL*3.785)
TOTAL=float(LIT*8.20)
print(f"el total es {TOTAL}")

galones vendidos10.38
el total es 322.16406

In [72]:
#ejemplo 1.5

RAD=0
ALT=0
VOL=0
ARE=0
RAD=float(input("introducir el radio:"))
ALT=float(input("introducir la altura"))
VOL= float(3.141592*(RAD**2)*ALT)
ARE=float(2*3.141592*RAD*ALT)
print(f"su volumen es {VOL}")
print(f"su area es {ARE}")

introducir el radio:17.30
introducir la altura8.45
su volumen es 7945.089382646326
su area es 918.5074430805

In [76]:
#ejemplo 1.6

DIAS = 0
DIAS = int(input("dias:"))
SEG = int(DIAS*24*60*60)
print(f"los segundos en esos dias son:{SEG}")

dias:15
los segundos en esos dias son:1296000