<a href="https://colab.research.google.com/github/Jesus-juasjuas/cyp_2021/blob/main/26_enero_CYP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LISTAS DE LENGUAJE PYTHON 3
1. Es una estructura de datos lineal de 0 o n elementos 
1."equivalente" a los arreglos
1. Puede ser de diferente tipo de dato[1,2,3] ,[True, 1, 2.34,"hola"]
1. pueden ser anidados, lista de lista .["Melon", ["manzana roja", "manzana amarilla"]
1. su selector es de la forma: [int]
1. Son mutables

In [ ]:
#ejemplos
numeros = [4,2,45,72]
print(numeros)
print(numeros[2])

#una lista de 0 elementos
colores=[] #list()
type(colores)
dias=list()
print(colores)
print(dias)

[4, 2, 45, 72]
45

In [ ]:
#Pueden ser de diferente tipo de datos
mi_lista = [1,2,3, "jose", False,1.76,5543187391]
print(mi_lista)
print(mi_lista[5])
print(mi_lista[6])
print(mi_lista[3][3] )
print(mi_lista[3][3::])
print(mi_lista[3][-1::1])
print(mi_lista[3][3])

[1, 2, 3, 'jose', False, 1.76, 5543187391]
1.76
5543187391
e
e
e

In [ ]:
frutas =["melon","sandia","kiwi","aguacate","mango","platano"]
print(frutas)
frutas[0] = "Melón"
print(frutas)
#frutas[1] = "S"
#print(frutas)
#frutas[1][0] = "S"
frutas[1] = frutas[1].capitalize()
print(frutas)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melon', 'Sandia', 'kiwi', 'aguacate', 'mango', 'platano']

In [ ]:
# Las listas son clases por lo tanto, tienen métodos.
#ejemplo: Append, agrega un elemento al final
frutas =["melon","sandia","kiwi","aguacate","mango","platano"]
frutas.append("Fresa")
print(frutas)

print("Ejemplo de copias")
otras_frutas = frutas.copy()
print(frutas)
print(otras_frutas)
otras_frutas[0] = "chico zapote"
print(otras_frutas)
print(frutas)
print("------------------")

print("Ejemplo de extend")

colores = ["rojo","verde","azul"]
frutas.extend(colores)
print(frutas)

print("Ejemplo Insert")
print(f"tamaño de la lista = { len(frutas)}")
frutas.insert(3,"Limon")
print(f"tamaño de la lista = { len(frutas)}")
print(frutas)

print("ejemplo remove, eliminar kiwi")
frutas.remove("kiwi")
print(frutas)

print("ejemplo de operador del")
del frutas[2] #operador de listas 
print(frutas)

In [12]:
cosas = ["jose",True,2,3,4,5,"pedro",1.23]
indice = 0
a_eliminar=[]
for elemento in cosas:
    if isinstance( elemento , int ) :
        print("entero",elemento) # cosas.remove(elemento)
        a_eliminar.append(elemento)
    indice += 1

print(a_eliminar)
for indice in a_eliminar:
    print( indice)
    cosas.remove(indice)
print(cosas)

entero True
entero 2
entero 3
entero 4
entero 5
[True, 2, 3, 4, 5]
True
2
3
4
5
['jose', 'pedro', 1.23]

In [ ]:
help(frutas)

In [38]:
#slicing sobre listas

frutas=("melon","sandia","kiwi","aguacate","mango","platano")
print(frutas)
print(frutas[4:1:1])

sistemas_operativos=("windows","mac OS", "Linux", "Android")
autos=("Ford","mazda", "Honda")

cosas=[sistemas_operativos , autos]
print(cosas)
print(cosas[1])
print(cosas[0][2])
print(cosas[0][3][2:5:1])
print(cosas[1][1][-2:-5:-1])

('melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano')
()
[('windows', 'mac OS', 'Linux', 'Android'), ('Ford', 'mazda', 'Honda')]
('Ford', 'mazda', 'Honda')
Linux
dro
dza